# Node.js dependencies
node_modules/
# Yarn integrity file
yarn.lock
# Output directories
dist/
build/
# TypeScript cache
*.tsbuildinfo
# Environment variables
.env
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# OS and editor files
.DS_Store
Thumbs.db
# VSCode settings
.vscode/
# JetBrains IDE settings
.idea/
# MacOS file attributes
*.DS_Store
# Testing output
coverage/
# Swagger files, if generated dynamically
swagger.json
swagger.yaml
# .zshrc, if personalized and should not be tracked
.zshrc
src/data/portfolioData.json
/src/images
/src/uploads
/src/data
/src/storage
/src/share
*.png
/src/get_files
